
#root {
  height: 100vh;
  width: 100vw;
  --defaultBlue: #2F3A94;
}

main {
  height: 85%;
}

/* Header Component 
=================================================================== */
.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0%;
  background-color: var(--defaultBlue);
  height: 10%;
  align-items: center;
}

.topLogo {
  height: 70%;
  width: 35%;
}
/* SideNav Component
=================================================================== */
.sideNav {
  display: inline;
  visibility: hidden;
  position: absolute;
  left: 0vh;
  top: 10vh;
  height: 85vh;
  width: 20vw;
  background-color: rgba(0, 0, 0, 0.253);
  transition: left 0.5s, visibility 0.4s; 
}

/* Footer Component
=================================================================== */
.pageFooter {
  background: var(--defaultBlue);
  height: 5%;
}

.pageFooter ul {
  margin: 0;
}

/* Home Component
=================================================================== */
.homeMain {
  display: flex;
  text-align: center;
  width: auto;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center; 
  height: 100%;
}

.homeMain h1 {
  width: 100%;
  font-size: 4em;
  margin-top: 5%;
}

.homeMain p {
  width: 70%;
  margin: 0 15%;
  font-size: 1.5em;
  padding: 2%;
  margin-bottom: 3%;
  background-color:rgba(0, 0, 0, 0.13);
  float: inline-end;
}

.homeMain h2 {
  text-align: center;
  width: 100%;
}

/* ErasNavBar Component
=================================================================== */
.erasNavBar {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: space-evenly;
  padding: 4% 0;
  align-self: center;
  flex-wrap: wrap;
}

.erasNavBar button {
  width: 10rem;
}
