
@font-face {
  font-family: 'Colus';
  src: 
    url('./resources/fonts/Colus-Regular.woff2') format('woff2'),
    url('./resources/fonts/Colus-Regular.woff') format('woff'),
    url('./resources/fonts/Colus-Regular.ttf') format('truetype')
}

#root {
  height: 100vh;
  width: 100vw;
  --defaultBlue: #2F3A94;
}

main {
  height: auto;
  overflow: auto;
  padding: 0;
}

.active {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #000;
}

/* Header Component 
=================================================================== */
.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0%;
  background-color: var(--defaultBlue);
  height: 10%;
  align-items: center;
}

.topLogo {
  height: 70%;
  width: 35%;
}
.topLogo img {
  height: 100%;
  width: 100%;
}

/* SideNav Container
=================================================================== */
/* SideNavPanel Component */
.sideNav {
  display: inline-flexbox;
  visibility: hidden;
  position: absolute;
  left: 0vh;
  top: 10vh;
  height: 85vh;
  width: 20vw;
  background-color: rgba(240, 240, 240, 0.9);
  transition: left 0.5s, visibility 0.5s;
  justify-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

.sideNav h3 {
  width: 98%;
  margin-left: 2%;
  font-family: 'Colus', serif, cursive;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  color: #000;
  overflow: visible;
}

/*SideNavButton Component */
.sideNavButton {
  width: 3em;
  height: 49%; 
  position: absolute; 
  left: 5%;
  -moz-transition: transform, 0.5s;
  -webkit-transition: transform, 0.5s;
  transition: transform, 0.5s;
}

/*Link Buttons */
.sideNav span {
  display: block;
  width: fit-content;
  width: 20vw;
  margin: 1em 0;
  padding: 0.5em 0;
  text-align: center;
  font-size: 1.3em;
}

/* Footer Component
=================================================================== */
.pageFooter {
  background: var(--defaultBlue);
  height: 5%;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

/* Home Component
=================================================================== */
.homeMain {
  display: flex;
  text-align: center;
  width: auto;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center; 
  height: 85vh;
  background: url(./resources/images/rialto.jpg); 
  background-position: center
}

.homeMain h1 {
  width: auto;
  margin: auto;
  font-size: 4em;
  margin-top: 5%;
  padding: .5% 0.2% 0 0;
  color: rgb(0, 0, 0);
  background-color:rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 2px 5px rgb(0 0 0 / 10%);
}

.homeMain p {
  width: 70%;
  margin: 0 15%;
  font-size: 1.5em;
  padding: 2%;
  margin-bottom: 3%;
  background-color:rgba(255, 255, 255, 0.6);
  float: inline-end;
  box-shadow: 0px 0px 2px 5px rgb(0 0 0 / 10%);
}

.homeMain h2 {
  text-align: center;
  width: auto;
  background-color:rgba(255, 255, 255, 0.6);
  margin: auto;
  padding: 0.3%;
  font-size: 1.8em;
  box-shadow: 0px 0px 2px 5px rgb(0 0 0 / 10%);
}

/* ErasNavBar Component
=================================================================== */
.erasNavBar {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: space-evenly;
  padding: 2% 0;
  align-self: center;
  flex-wrap: wrap;
  background-color:rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 2px 5px rgb(0 0 0 / 10%);
}

.erasNavBar a {
  background-color: var(--defaultBlue);
  width: 10vw;
  display: inline-flex;
  align-items: center;
  justify-items: center;
  border-radius: 5%;
  box-shadow: 0px 0px 2px 5px rgb(0 0 0 / 10%);
}

.erasNavBar span {
  width: 100%;
  color: #FFF;
  font-family: 'Colus';
}

/* Bottom Navigation
=================================================================== */

.bottomNavigation {
  height: 5vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.bottomNavigation div {
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.bottomNavigation h3 {
  margin: auto;
  display: inline;
  height: auto;
  color: #FFF;
  font-family: 'Colus';
  font-weight: normal;
}
.bottomNavigation img {
  height: 4vh;
  margin: 0.5vh 2vw;
}

/* Content Components
=================================================================== */
.stageTitle {
  text-align: center;
  font-size: 3em;
  margin-top: 0;
  padding-top: 0.6em;
  margin-bottom: 0.6em;
}

.stageParagraph {
  font-size: 1.5em;
  border: 1em solid rgba(0, 0, 0, 0.37);
  text-align: center;
  background: rgba(0, 0, 0, 0.096);
  margin: 0;
  padding: 1%;
  overflow: auto;
  box-shadow: 0px 0px 2px 5px rgb(0 0 0 / 10%);
}

.stageList li {
  font-size: 1.17em;
}

.grid2x2 {
  margin: 0 5vw;
  display: grid;
  grid-template: 35vh 35vh / 45vw 45vw;
  box-shadow: 0px 0px 2px 5px rgb(0 0 0 / 10%);
}

.stageFigure {
  background: rgba(0, 0, 0, 0.219);
  margin: 0;
  padding: 0.5em 0 1.7em 0;
  overflow: hidden;
}

.stageFigure img {
  margin: auto;
  height: 100%;
  display: block;
  overflow: hidden;
  box-shadow: 0px 0px 2px 5px rgb(0 0 0 / 10%);
}

.stageFigure figcaption {
  text-align: center;
  width: 100%;
  padding-top: 0.4em;
  font-size: 1.2em;
}

article {
  height: 85vh;
  overflow: auto;
}

/* Antigas Civ */
.antigasCiv {
  background: rgb(245, 241, 186);
}
/* Idade Média */
.idadeMedia {
  background: rgb(199, 201, 214);
}
/* Idade Moderna */
.idadeModerna {
  background: rgb(179, 140, 223);
}
.groupDiv {
  grid-area: 1 / 2 / 3 / 3;
  border: 1em solid rgba(0, 0, 0, 0.37);
  background: rgba(0, 0, 0, 0.096);
  overflow: auto;
  box-shadow: 0px 0px 2px 5px rgb(0 0 0 / 10%);
}
/* Revolução Industrial */
.revIndustrial {
  background: rgb(162, 219, 230);
}
/* Inicio do século XX */
.secXX {
  background: rgb(134, 199, 131);
}
/* Guerra Fria */
.guerraFria {
  background: rgb(202, 82, 74);
}
/* Atualidade */
.atualidade {
  background: #FFF;
}
#divList2 {
  display: flex;
  justify-content: space-evenly;
  grid-area: 2 / 2 / 3 / 3;
  border: 1em solid rgba(0, 0, 0, 0.37);
  background: rgba(0, 0, 0, 0.096);
  overflow: auto;
  box-shadow: 0px 0px 2px 5px rgb(0 0 0 / 10%);
  border-top: 0;
}
#divList2 ul {
  margin: 1em 1em;
  font-size: 1.3em;
}

/* Glossário
=================================================================== */
.glossario {
  all: unset;
  display: flex;
  margin: 0 5vw;
  flex-wrap: wrap;
  margin-bottom: 5vh;
  z-index: -1;
  width: 9-vw;
  box-sizing: border-box;
}
.glossario div {
  margin: 1em;
  width: 20%;
  z-index: -1;
  margin: 0 0.5em;
}
;.glossario ul {
  margin: 0;
}

/* Mapa Mental
=================================================================== */
.mapaMental {
  margin: 0;
  width: 100vw;
  height: 70vh;
  box-sizing: border-box;
}

/* MEDIA QUERIES
============================================================================================================================================= */

@media only screen and (max-width: 1023px) and (min-width: 769px) {

  /* SidePanel Nav */
  .sideNav {
    width: 25vw;
  }

  .sideNav span {
    width: 25vw;
  }

  /* ErasNavBar */
  .erasNavBar span {
    font-size: 0.65em;
  }

  /* Content Components */
  .stageFigure img {
    object-position: center;
    width: 100%;
    height: auto;
  }
  .stageFigure {
    overflow: auto;
  }
}